<div class="ui modal"
       v-bind:class="name"
       ref="modal">
    <i class="close icon" v-on:click="close"></i>
    <div class="header">
      <i class="upload icon"></i>
      {{ $t('Title') }}
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">
        
        <div class="ui top attached tabular menu">
          <a class="item active" 
             data-tab="upload"
             v-on:click="openTab">
            {{ $t('Upload') }}
          </a>
          <a class="item" 
             data-tab="setting"
             v-on:click="openTab">
            {{ $t('Setting') }}
          </a>
        </div>
        
        <div class="ui bottom attached tab segment active form" 
             data-tab="upload">
          
          <div class="download-list">
          
            <div v-for="link in links" 
                 v-bind:key="link.name"
                 class="unstackable fields">
              <div class="six wide field">
                <template v-if="linkNameIcon(link.name) !== undefined">
                  <div class="ui icon labeled fluid mini button"
                       v-bind:class="{'positive': validateDownloadURL(link.downloadURL)}"
                       v-on:click="openUploadURL(link.uploadURL, link.name)">
                    <i class="icon" 
                       v-bind:class="linkNameIcon(link.name)"></i>
                    {{ link.name }}
                  </div>
                </template>
                <template v-else>
                  <div class="ui fluid mini button"
                       v-bind:class="{'positive': validateDownloadURL(link.downloadURL)}"
                       v-on:click="openUploadURL(link.uploadURL, link.name)">
                    {{ link.name }}
                  </div>
                </template>
              </div>
              <div class="ten wide field">
                <div class="ui fluid mini input">
                  <input type="url" 
                         v-model="link.downloadURL" />
                </div>
              </div>
            </div>
            
          </div> <!-- <div class="download-list"> -->
          
          <div class="inline fields delimiter">
            <div class="field">
              <div class="ui input mini">
                <label>
                  {{ $t('Delimiter') }}
                </label>
                <input type="text" v-model="delimiter"
                       v-on:change="onDelimiterChange"/>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="ui bottom attached tab segment form" 
             data-tab="setting">
          
          <div class="setting-list">
            <draggable v-model="links" 
                     group="settings" 
                     v-on:start="drag=true" 
                     v-on:end="drag=false"
                     v-on:change="onSettingChange">
              <div v-for="link in links" 
                   v-bind:key="link.name"
                   class="unstackable fields">
                <div class="six wide field">
                  <div class="ui input mini">
                    <input type="text" 
                           v-model="link.name"
                           placeholder="$t('Name')"
                           v-on:change="onSettingChange"/>
                  </div>
                </div>
                <div class="ten wide field">
                  <div class="ui icon input mini">
                    <input type="url" 
                           v-model="link.uploadURL"
                           placeholder="$t('Upload URL')"
                           v-on:change="onSettingChange"/>
                    <i class="bars icon draggable"></i>
                  </div>
                    
                </div>
              </div>
            </draggable>
          </div>
        </div>
        
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    
    
    <div class="actions">
      <div class="ui button"
           v-on:click='close'>
        {{ $t('Close') }}
      </div>
      <div class="ui button"
           v-bind:class="enableInsert"
           v-on:click='insert'>
        {{ $t('Insert') }}
      </div>
    </div>
  </div>