<div class="ui modal"
       v-bind:class="name"
       ref="modal">
    <i class="close icon" v-on:click="close"></i>
    <div class="header">
      <i class="upload icon"></i>
      {{ $t('Title') }}
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">
        
        <div class="ui top attached tabular menu">
          <a class="item active" 
             data-tab="upload"
             v-on:click="openTab">
            {{ $t('Upload') }}
          </a>
          <a class="item" 
             data-tab="setting"
             v-on:click="openTab">
            {{ $t('Setting') }}
          </a>
          <a class="item" 
             data-tab="templates"
             v-on:click="openTab">
            {{ $t('Templates') }}
          </a>
        </div>
        
        <!-- ================================================= -->

        
        <div class="ui bottom attached tab segment active form" 
             data-tab="upload">
          
          <div class="download-list">
          
            <div v-for="link in links" 
                 v-bind:key="link.name"
                 class="unstackable fields">
              <div class="six wide field">
                <template v-if="linkNameIcon(link.name) !== undefined">
                  <a class="ui icon labeled fluid mini button"
                       v-bind:class="{'positive': validateDownloadURL(link.downloadURL)}"
                       v-on:click="openUploadURL(link.uploadURL, link.name)"
                       :href="link.uploadURL"
                       :target="link.name">
                    <i class="icon" 
                       v-bind:class="linkNameIcon(link.name)"></i>
                    {{ link.name }}
                </a>
                </template>
                <template v-else>
                  <a class="ui fluid mini button"
                       v-bind:class="{'positive': validateDownloadURL(link.downloadURL)}"
                       v-on:click="openUploadURL(link.uploadURL, link.name)"
                       :href="link.uploadURL"
                       :target="link.name">
                    {{ link.name }}
                </a>
                </template>
              </div>
              <div class="ten wide field">
                <div class="ui fluid mini input">
                  <input type="url" 
                         v-model="link.downloadURL"
                         v-on:change="onSettingChange" />
                </div>
              </div>
            </div>
            
          </div> <!-- <div class="download-list"> -->
          
          <div class="inline fields delimiter">
            <div class="field">
              <div class="ui input mini">
                <label>
                  {{ $t('Delimiter') }}
                </label>
                <input type="text" v-model="delimiter"
                       v-on:change="onDelimiterChange"/>
              </div>
            </div>
          </div>
          
        </div>

        
        <!-- ================================================= -->

        
        <div class="ui bottom attached tab segment form" 
             data-tab="setting">
          
          <a href="https://docs.google.com/spreadsheets/d/1oO8gH6Le5IW8sWCQxqfBuGi-88QJ1s7G_ZGhNPpuAQs/edit#gid=267891918"
             target="file_upload"
             class="ui fluid mini button configurtation-link"
             style="margin-bottom: 0.5rem;"
             @click="popup('https://docs.google.com/spreadsheets/d/1oO8gH6Le5IW8sWCQxqfBuGi-88QJ1s7G_ZGhNPpuAQs/edit#gid=267891918')">
            File Upload Configuration (Private)
          </a>

          </a>

          <div class="setting-list">
            <draggable v-model="links" 
                     group="settings" 
                     v-on:start="drag=true" 
                     v-on:end="drag=false"
                     v-on:change="onSettingChange">
              <div v-for="(link, i) in links" 
                   v-bind:key="link.name"
                   class="unstackable fields">
                <div class="six wide field">
                  <div class="ui input mini">
                    <i class="bars icon draggable"></i>
                    <input type="text" 
                           v-model="link.name"
                           v-bind:placeholder="$t('Name')"
                           v-on:change="onSettingChange"/>
                  </div>
                </div>
                <div class="four wide field">
                  <div class="ui icon input mini">
                    <input type="url" 
                           v-model="link.uploadURL"
                           :title="link.uploadURL"
                           v-bind:placeholder="$t('Upload URL')"
                           v-on:change="onSettingChange"/>
                  </div>
                </div>
                <div class="four wide field">
                  <div class="ui icon input mini">
                    <input type="text" 
                           v-model="link.parameters"
                           v-bind:placeholder="$t('Parameters')"
                           v-on:change="onSettingChange"/>
                  </div>
                </div>
                <div class="two wide field">
                  <div class="ui icon fluid button mini"
                       v-on:click="removeSetting(i)">
                    <i class="minus icon"></i>
                  </div>
                </div>
              </div>
            </draggable>
          </div>
          
          <div class="field">
            <div class="fluid ui labeled icon button"
                 v-on:click="addSetting">
              <i class="plus icon"></i>
              {{ $t("Add") }}
            </div>
          </div>
        </div>

        <!-- ================================================= -->

        <div class="ui bottom attached tab segment form" 
             data-tab="templates">
          <div class="field">
            <label for="FileUploaderDownloadTemplate">
              {{ $t('Template') }}
            </label>
            <textarea id="FileUploaderDownloadTemplate" v-model="downloadTemplate" />
          </div>
          <div class="field">
            <label for="FileUploaderDownloadTemplateSlide">
              {{ $t('Template Slide') }}
            </label>
            <textarea id="FileUploaderDownloadTemplateSlide" v-model="downloadTemplateSlide" />
          </div>
          <div class="field">
            <label for="FileUploaderDownloadTemplateSheet">
              {{ $t('Template Sheet') }}
            </label>
            <textarea id="FileUploaderDownloadTemplateSheet" v-model="downloadTemplateSheet" />
          </div>
          <div class="field">
            <label for="FileUploaderDownloadTemplateDoc">
              {{ $t('Template Doc') }}
            </label>
            <textarea id="FileUploaderDownloadTemplateDoc" v-model="downloadTemplateDoc" />
          </div>
        </div>
        
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    
    
    <div class="actions">
      <div class="ui button"
           v-on:click='close'>
        {{ $t('Close') }}
      </div>
      <div class="ui button"
           v-bind:class="enableInsert"
           v-on:click='insert'>
        {{ $t('Insert') }}
      </div>
    </div>
  </div>