<div class="ui modal"
       v-bind:class="name"
       ref="modal">
    <i class="close icon" @click="close"></i>
    <div class="header">
      <i class="upload icon"></i>
      {{ $t('Title') }}
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">
        
        <div class="ui top attached tabular menu">
          <a class="item active" 
             data-tab="upload"
             @click="openTab">
            Upload
          </a>
          <a class="item" 
             data-tab="setting"
             @click="openTab">
            Setting
          </a>
        </div>
        
        <div class="ui bottom attached tab segment active form" 
             data-tab="upload">
          
          <div v-for="link in links" :key="link.name"
               class="unstackable fields">
            <div class="four wide field">
              <div class="ui fluid button"
                   :class="{'positive': (link.downloadURL.length > 8)}"
                   @click="openUploadURL(link.uploadURL, link.name)">
                {{ link.name }}
              </div>
            </div>
            <div class="twelve wide field">
              <input type="url" v-model="link.downloadURL" />
            </div>
          </div>
          
        </div>
        
        <div class="ui bottom attached tab segment form" 
             data-tab="setting">
          
          <draggable v-model="links" 
                   group="settings" 
                   @start="drag=true" 
                   @end="drag=false"
                   @change="onSettingChange">
            <div v-for="link in links" :key="link.name"
                 class="unstackable fields">
              <div class="four wide field">
                <input type="text" 
                       v-model="link.name"
                       placeholder="$t('Name')"/>
              </div>
              <div class="eleven wide field">
                <input type="url" 
                       v-model="link.uploadURL"
                       placeholder="$t('Upload URL')"/>
              </div>
              <div class="one wide field draggable">
                <div class="ui basic icon button">
                  <i class="bars icon"></i>
                </div>
              </div>
            </div>
          </draggable>
          
        </div>
        
        
        
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    
    
    <div class="actions">
      <div class="ui button"
           @click='close'>
        {{ $t('Close') }}
      </div>
      <div class="ui button"
           :class="enableInsert"
           @click='insert'>
        {{ $t('Insert') }}
      </div>
    </div>
  </div>