<div class="non-invasive-web-style-framework">
  <div class="ui modal BrowserDetector">
    <div class="header">
      <i class="times circle icon"></i>
      Only support Google Chrome
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description">
        
        <a class="ui fluid positive labeled icon massive button"
           href="https://www.google.com/chrome/"
           target="getGoogleChrome">
          <i class="chrome icon"></i>
          Get Google Chrome
        </a>
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
  </div>
</div>