<div class="non-invasive-web-style-framework">
  <div class="ui modal BrowserDetector">
    <i class="close icon" @click="close"></i>
    <div class="header">
      <i class="times circle icon"></i>
      ERROR
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description">
        Only support Google Chrome
        <div class="ui positive button">Get Google Chrome</div>
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
  </div>
</div>