<div class="ui modal"
       v-bind:class="name"
       ref="modal">
    <i class="close icon" @click="close"></i>
    <div class="header">
      <i class="quote left icon"></i>
      {{ $t('Title') }}
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">
        
        <!-- ------------------------- -->
        <template v-if="editingId === null">
          
        
          <div class="unstackable fields">
            <div class="eleven wide field">
              <div class="ui icon mini input">
                <input type="text" 
                       :placeholder="$t('Filter...')"
                       v-model="filterCondition">
                <i class="filter icon"></i>
              </div>
            </div>
            <div class="five wide field">
              <div class="ui mini fluid buttons">
                <div class="ui mini labeled icon button"
                  @click="createSnippet">
                  <i class="file icon"></i>
                  {{ $t("NEW") }}
                </div>
              </div>
            </div>
          </div>

          <!-- ------------------------- -->

          <div class="ui middle aligned divided list">
            <div class="item" v-for="snippet in matchedSnippets">
              <div class="right floated content">
                <div class="ui mini buttons">
                  <div class="ui button"
                       @click="deleteSnippet(snippet.id)">
                    {{ $t("DELETE") }}
                  </div>
                  <div class="ui button"
                       @click="editSnippet(snippet.id)">
                    {{ $t("EDIT") }}
                  </div>
                  <div class="ui button" 
                       @click="insertSnippet(snippet.id)">
                    {{ $t("INSERT") }}
                  </div>
                </div>
              </div>

              <div class="content">
                {{ snippet.name }}
              </div>

            </div>
          </div>
        
          <!-- ------------------------- -->
          
        
        </template> <!-- <template v-if="editingId === null"> -->
        <template v-else>
          <div class="field">
            <label>
              {{ $t("Name") }}
            </label>
            <input type="text" name="snippetName"
                   v-model="editingSnippetName" />
          </div>
          <div class="field">
            <label>
              {{ $t("Snippet") }}
            </label>
            <textarea name="snippet"
                      v-model="editingSnippet"></textarea>
          </div>
        </template>
        
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    
    <div class="actions">
      
      <template v-if="editingId === null">
        <div class="ui button"
             @click='close'>
          {{ $t('Close') }}
        </div>
      </template> <!-- <template v-if="editingId === null"> -->
      <template v-else>
        <div class="ui button"
             :class="isSaveDisabled"
             @click='saveSnippet'>
          {{ $t('Save') }}
        </div>
        <div class="ui button"
             @click='cancelEdit'>
          {{ $t('Cancel') }}
        </div>
      </template>
      
    </div> <!-- actions -->
  </div>