<div class="ui modal"
       v-bind:class="name"
       ref="modal">
    <i class="close icon" v-on:click="close"></i>
    <div class="header">
      <i class="quote left icon"></i>
      {{ $t('Title') }}
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">
        
        <!-- ------------------------- -->
        <template v-if="editingId === null">
          
        
          <div class="unstackable fields">
            <div class="ten wide field">
              <div class="ui icon mini input">
                <input type="text" 
                       v-bind:placeholder="$t('Filter...')"
                       v-model="filterCondition">
                <i class="filter icon"></i>
              </div>
            </div>
            <div class="six wide field">
              <div class="ui mini fluid buttons">
                <div class="ui mini labeled icon button"
                  v-on:click="createSnippet">
                  <i class="file icon"></i>
                  {{ $t("NEW") }}
                </div>
              </div>
            </div>
          </div>

          <!-- ------------------------- -->

          <div class="ui middle aligned divided list snippets-list">
            <div class="item" v-for="snippet in matchedSnippets">
              <div class="right floated content">
                <div class="ui mini buttons">
                  <div class="ui button"
                       v-on:click="editSnippet(snippet.id)">
                    {{ $t("EDIT") }}
                  </div>
                  <div class="ui button"
                       v-on:click="deleteSnippet(snippet.id)">
                    {{ $t("DELETE") }}
                  </div>
                  <div class="ui button" 
                       v-on:click="insertSnippet(snippet.id)">
                    {{ $t("INSERT") }}
                  </div>
                </div>
                <div class="ui rating" 
                     data-max-rating="1" 
                     v-bind:data-rating="snippet.starred"></div>
              </div>

              <div class="name content"
                   v-on:click="editSnippet(snippet.id)">
                <span>
                  {{ snippet.name }}
                </span>
              </div>

            </div>
          </div>
        
          <!-- ------------------------- -->
          
        
        </template> <!-- <template v-if="editingId === null"> -->
        <template v-else>
          
          <div class="two unstackable fields">
            <div class="field">
              <label for="snippetName">
                {{ $t("Name") }}
              </label>
              <input type="text"
                     id="snippetName"
                     name="snippetName"
                     v-model="editingSnippetName" />
            </div>
            <div class="field">
              <label>
                {{ $t("Scope") }}
              </label>
              
              <div class="ui radio checkbox">
                <input type="radio" id="scope.all" value="all" v-model="scope">
                <label for="scope.all">
                  {{ $t('All') }}
                </label>
              </div>
              
              <div class="ui radio checkbox">
                <input type="radio" id="scope.post" value="post" v-model="scope">
                <label for="scope.post">
                  {{ $t('This Post') }}
                </label>
              </div>
            </div>
            
            <div class="field">
              
            </div>
          </div>
            
          <div class="field">
            <label v-on:click="toggleEditingSnippetView">
              {{ $t("Snippet") }}
              
              <span v-if="editingSnippetView === 'code'">
                ({{ $t("Toggle to preview") }})
              </span>
              <span v-if="editingSnippetView === 'preview'">
                ({{ $t("Toggle to code") }})
              </span>
            </label>
            
            <div class="ui top attached mini fluid buttons">
              <div class="ui mini button"
                v-on:click="textareaSelectAll">
                {{ $t('SELECT ALL') }}
              </div>
              <div class="ui mini button"
                v-on:click="textareaCopy">
                {{ $t('COPY') }}
              </div>
              <div class="ui mini button"
                   v-on:click="textareaEmpty">
                {{ $t('CLEAN') }}
              </div>
            </div>
            
            <textarea name="snippet"
                      id="editingSnippet"
                      class="ui attached"
                      v-model="editingSnippet"
                      v-if="editingSnippetView === 'code'"></textarea>
            <div class="editing-snippet-preview"
                 v-if="editingSnippetView === 'preview'"
                 v-html="editingSnippet"></div>
          </div>
        </template>
        
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    
    <div class="actions">
      
      <template v-if="editingId === null">
        <div class="ui button"
             v-on:click='close'>
          {{ $t('Close') }}
        </div>
      </template> <!-- <template v-if="editingId === null"> -->
      <template v-else>
        <div class="ui button"
             v-bind:class="{green: (isSaveDisabled === false), disabled: isSaveDisabled}"
             v-on:click='saveAndInsertSnippet'>
          {{ $t('Save & Insert') }}
        </div>
        <div class="ui button"
             v-bind:class="{disabled: isSaveDisabled}"
             v-on:click='saveSnippet'>
          {{ $t('Save') }}
        </div>
        <div class="ui button"
             v-on:click='cancelEdit'>
          {{ $t('Cancel') }}
        </div>
      </template>
      
    </div> <!-- actions -->
  </div>