<div class="ui modal"
     v-bind:class="name"
     ref="modal">
    <i class="close icon" @click="close"></i>
    <div class="header">
      <i class="file icon"></i>
      Post Manager
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">
        <div class="ui tiny progress"
             :data-value="quotaUsed"
             :data-total="quotaTotal"
             :class="{'error': (quotaUsage > 90), 'warning': (quotaUsage >= 60 && quotaUsage <= 90)}">
          <div class="bar"></div>
          <div class="label">Quota Usage: 
            {{ quotaUsedMB }}MB 
            /
            {{ quotaTotalMB }}MB 
            ({{ quotaUsage }}%)
          </div>
        </div>
        
        <!-- ------------------ -->
        
        <div class="unstackable fields">
          
          <div class="ten wide field">
            <div class="ui icon mini input post-filter">
              <input type="text" 
                     placeholder="Filter..."
                     v-model="filterCondition"
                     @keyup="filterPosts">
              <i class="filter icon"></i>
            </div>
          </div>
          
          
          <div class="size wide field">
            <div class="ui mini fluid buttons">
              <div class="ui mini labeled icon button"
                @click="newPost">
                <i class="file icon"></i>
                NEW
              </div>
              <div class="ui mini icon button"
                @click="backupAllPosts">
                <i class="download icon"></i>
                <!-- BACKUP -->
              </div>
              <div class="ui mini icon button"
                 @click="triggerUploadPosts">
                <i class="upload icon"></i>
                <!-- UPLOAD -->
              </div>
            </div>
          </div>
          
          <div class="dragover-message"
               @drop="dropPosts">
            Drop file to upload
          </div>
          
          <input type="file" name="uploadPosts"
                 accept=".zip"
                 @change="uploadPosts"/>
        </div>

        <div class="ui divided unstackable items post-list"
              :key="componentRerenderKey">
          
          <div class="item" 
               v-for="post in filteredPosts"
               v-bind:class="{ editing: (editingPostId === post.id) }">
            <a class="image" href="#"
                 @click="openPost(post.id)">
              <img :src="post.thumbnail" 
                 v-if="post.thumbnail"  />
            </a>
            <div class="content">
              <a class="header" href="#"
                 @click="openPost(post.id)">
                <span>
                  #{{ post.id }}
                </span>
                <span v-if='post.title === ""'>
                  (No title)
                </span>
                <span v-if='post.title !== ""'>
                  {{ post.title }}
                </span>
              </a>
              <div class="description" 
                   v-if='post.abstract !== ""'>
                <div class="abstract">
                  {{ post.abstract }}
                </div>
                
              </div>
              <div class="extra">
                <div class="ui right floated">
                  <span>
                    <i class="calendar alternate outline icon"></i>
                    {{ displayDate(post.updateUnix) }}   
                  </span>
                  <span v-if='post.labels'>
                    <i class="tag icon" 
                       v-if='post.labels.split(",").length === 1'></i>
                    <i class="tags icon" 
                       v-if='post.labels.split(",").length > 1'></i>
                    {{ post.labels }}
                  </span>
                  <!--<i class='close icon'></i>-->
                </div>
                <div class="ui right floated">
                  <div class="ui mini buttons">
                    <div class='ui mini labeled icon button'
                         v-if="editingPostId !== post.id"
                         @click='openPost(post.id)'>
                        <i class="folder open icon"></i>
                        OPEN
                    </div>
                    <div class='ui mini labeled icon positive button'
                         v-if="editingPostId === post.id"
                         @click='close'>
                        <i class="edit icon"></i>
                        EDITING
                    </div>

                    <div class='ui mini labeled icon button'
                         v-if="enableRemovePost"
                         @click='removePost(post.id)'>
                      <i class="close icon"></i>
                      REMOVE
                    </div>
                    <div class='ui icon mini button' 
                         @click='clonePost(post.id)'>
                      <i class="clone icon"></i>
                      <!-- CLONE -->
                    </div>
                    <div class='ui icon mini button' 
                         @click='backupPost(post.id)'>
                      <!-- BACKUP -->
                      <i class="download icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- item -->
        </div> <!-- post-list -->
        
      </div>
    </div>
  </div>