.step.hide {
  display: none;
}

.fixed-height {
  min-height: 400px;
}

#rawHTMLtextarea {
  max-height: inherit;
  height: calc(100vh -18rem);
}

#parsedTemplateTextarea {
  max-height: inherit;
  height: 340px;
}