#template {
  margin-top: 5rem;
  
  h1 {
    margin-bottom: 0;
  }
  
  .note-editor .note-editing-area .note-status-output {
    display: none;
  }
  
  .note-editor.panel {
    margin-bottom: 0 !important;
    background-color: transparent !important;
    border-width: 0px;
    box-shadow: none;
  }
  
  .note-editor .note-editing-area .note-editable {
    background-color: transparent !important;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 0.5rem;
  }
  
  .note-editor .note-editing-area .note-editable:focus {
    border-color: #ccc;
  }

  .note-resizebar, 
  .note-statusbar {
    display: none;
  }
  
  .summernotePostLabels-wrapper > .note-editor {
    display: inline-block;
  }
  
  .summernotePostLabels-wrapper .note-editable {
    min-width: 3.2rem;
    height: 37px;
  }
  
  .summernotePostLabels-wrapper .note-editable p {
    font-size: inherit;
  }
  
  .summernotePostLabels-wrapper.new > .note-editor {
    min-width: 7rem;
  }
  
  .air-mode > .note-editor .note-editing-area .note-editable,
  .air-mode > .note-editor .note-editing-area .note-placeholder {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  
  .air-mode > .note-editor .note-editing-area .note-placeholder {
    white-space: nowrap;
  }
  /*
  .note-editor.note-frame {
    border-width: 0;
  }
  
  .note-toolbar {
    border-bottom-width: 0;
    background: #f5f5f5;
    border-radius: 1px;
  }
  */
  /*
  .note-btn-group {
    background-color: #a9a9a9;
  }
  */
}

body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  min-width: inherit !important;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.note-popover.popover {
  top: -100px;
}