html {
  font-size: 14pt !important;
}

#template {

  .navbar.section,
  .sidebar.section {
    display: none;
  }

  header,
  footer {
    display: none;
  }

  h2.date-header,
  .blog-pager {
    display: none;
  }

  body {
    min-width:inherit;
    min-height: inherit;
  }

  .content-outer {
    min-width: inherit;
    max-width: inherit;
  }

  .fauxcolumn-outer.fauxcolumn-center-outer {
    right: 0;
  }
  
  .main-inner .columns {
    padding-right: 0;
  }
  
  .main-inner .fauxcolumn-right-outer {
    display: none;
  }
  
  .note-editor .note-editable img {
    background: transparent;
    box-shadow: none;
    border-width: 0;
  } 
}
