.ui.menu {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100vw;
  border-radius: 0;
}

/*
.ui.top.menu {
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
*/

.ui.top.menu.call-fixed,
.ui.top.menu.upscroll {
  position: fixed;
  z-index: 600;
}

.ui.top.menu > .item.sidebar-menu-toggle {
  display: none;
}

// --------------------------------

@media (max-width: 1000px) {
  .ui.top.menu > ::v-deep .item span {
    display: none;
  }
  
  //.ui.top.menu > ::v-deep .right.menu {
  //  margin-right: 276px;
  //}
}

// --------------------------------

@media (max-width: 700px) {
  .ui.top.menu > ::v-deep .item.publish,
  .ui.top.menu > ::v-deep .item.post,
  .ui.top.menu > ::v-deep .item.editor,
  .ui.top.menu > ::v-deep .item.theme,
  .ui.top.menu > ::v-deep .item.config {
    display: none;
  }
  
  .ui.top.menu > .item.sidebar-menu-toggle {
    display: block;
  }
  
  .ui.top.menu.upscroll {
    position: absolute;
  }
}

// --------------------------------

@media (max-width: 400px) {
  .ui.top.menu > ::v-deep .item {
    display: none;
  }
  
  .ui.top.menu > .item.sidebar-menu-toggle {
    display: block;
  }
  
  .ui.top.menu.upscroll {
    position: absolute;
  }
}