@media (max-width: 1200px) {
  body.OutlineNavigator-open .ui.top.menu {
    .item span {
      display: none;
    }
    
    .right.menu {
      margin-right: 276px;
    }
  }
}

.summernotePostBody-wrapper .note-toolbar.fixed {
  transition-property: top !important;
  transition-duration: 0.5s !important;
}


body.call-fixed .summernotePostBody-wrapper .note-toolbar.fixed {
  top: 55px !important;
}