body {
  background-image: url(http://2.bp.blogspot.com/-h8fC3jrTphQ/U9Ywn5XUesI/AAAAAAAABGA/TOLe6IOXPtQ/s1600/pattern5.png) !important;
}

#content-wrapper {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

#template {
  margin-top: 3rem !important;
}