body {
  /*background-image: url(http://2.bp.blogspot.com/-h8fC3jrTphQ/U9Ywn5XUesI/AAAAAAAABGA/TOLe6IOXPtQ/s1600/pattern5.png) !important;*/
  background-image: url(./assets/pattern5.png) !important;
}

#content-wrapper {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

#template {
  margin-top: 3rem !important;
}

/*
.ui.top.menu {
  top: -4rem !important;
}
*/

.entry-content {
  color: #000;
}

.summernotePostBody-wrapper p {
  text-indent: 2rem;
  color: #000;
}

.summernotePostBody-wrapper hr {
  border-top: 3px solid #ce8a42;
}

.summernotePostBody-wrapper li {
  line-height: 1.75;
}

.meta1 .timestamp {
  padding-right: 1rem;
}