<div class="ui modal"
       v-bind:class="name"
       ref="modal">
    <i class="close icon" v-on:click="close"></i>
    <div class="header">
      <i class="times circle icon"></i>
      {{ $t('Title') }}
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">
        
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    
    <div class="actions">
      <div class="ui button"
           v-on:click='close'>
        {{ $t('Close') }}
      </div>
      <div class="ui button">
        {{ $t('Insert') }}
      </div>
    </div> <!-- actions -->
  </div>