.step.hide {
  display: none;
}

.fixed-height {
  min-height: 400px;
}

.ui.modal.ImageReplacer.show {
  z-index: 2000;
}

#imageHTMLtextarea {
  max-height: inherit;
  height: calc(100vh - 18rem);
}

.first-filesystem-remained {
  margin: 0 !important;
  margin-bottom: 1rem !important;
}

.first-filesystem-remained > .statistic {
  width: calc(100% - 2rem);
  //margin-left: auto !important;
  //margin-right: auto !important;
}

.right.aligned {
  text-align: right;
}
.non-invasive-web-style-framework .ImageReplacer .ui.form .success.message, 
.non-invasive-web-style-framework .ImageReplacer .ui.form .warning.message, 
.non-invasive-web-style-framework .ImageReplacer .ui.form .error.message {
  display: inherit;
}