<div class="non-invasive-web-style-framework">
  <div class="ui modal EditorManager">
    <i class="close icon" v-on:click="close"></i>
    <div class="header">
      <i class="keyboard outline icon"></i>
      {{ $t('Editor Manager') }}
    </div>
    <div class="content">
      <div class="ui form description">
          
          <div class="ui top attached tabular menu">
            <a class="item active" 
               data-tab="text"
               v-on:click="openTab">
              {{ $t('Text') }}
            </a>
            <a class="item" 
               data-tab="image"
               v-on:click="openTab">
              {{ $t('Image') }}
            </a>
            <a class="item" 
               data-tab="toolbar"
               v-on:click="openTab">
              {{ $t('Toolbar') }}
            </a>
            <a class="item" 
               data-tab="labels"
               v-on:click="openTab">
              {{ $t('Labels') }}
            </a>
            <!--
            <a class="item" 
               data-tab="config"
               v-on:click="openTab">
              Config
            </a>
            -->
          </div>
          
        <!-- ------------------------------------------------ -->
        
          <div class="ui bottom attached tab segment active form" 
             data-tab="text">
            
            <div class="field">              
              <div class="ui checkbox">
                <input type="checkbox" 
                       name="enableTypeWriterSoundEffect"
                       v-on:change="persist"
                       v-model="enableTypeWriterSoundEffect">
                <label>{{ $t(`Enable typewriter sound effect`) }}</label>
              </div>
            </div>
            
            <div class="field">              
              <div class="ui">
                <input type="text" 
                       name="CommentAnchor"
                       v-on:change="persist"
                       v-model="CommentAnchor" />
              </div>
            </div>
            
          </div> <!-- data-tab="text" -->
          
        <!-- ================================================= -->
        
        <!-- ================================================= -->
        
          <div class="ui bottom attached tab segment form" 
             data-tab="image">
            
            <div class="unstackable fields">
              <div class="field">              
                <div class="ui checkbox">
                  <input type="checkbox" 
                         name="enableOCRImageFilename"
                         v-on:change="persist"
                         v-model="enableOCRImageFilename">
                  <label>{{ $t('Use OCR text as image\'s filename') }}</label>
                </div>
              </div>
              <div class="field">              
                <div class="ui checkbox">
                  <input type="checkbox" 
                         name="enableOCRImageAlt"
                         v-on:change="persist"
                         v-model="enableOCRImageAlt">
                  <label>{{ $t('Use OCR text as image\'s alt text') }}</label>
                </div>
              </div>
            </div>
              
            
            <div class="field">
              <label for="OCRImageLang">
                {{ $t('OCR Language') }}
              </label>
              
              <div class="ui input">
                <input type="url" 
                       name="OCRImageLang" 
                       onfocus="this.select()"
                       id="OCRImageLang"
                       v-model="OCRImageLang"
                       v-on:change="persist"
                       placeholder="chi_tra+eng" />
              </div>
            </div>
            
            <!-- --------------------------- -->

            <div class="field">
              <label>
                {{ $t('Thumbnail Image Size') }}
              </label>
              <input type="number" 
                     name="imageSizeDefault" 
                     id="imageSizeDefault"
                     v-model="imageSizeDefault" />
            </div>
            
            <div class="field">
              <label for="ImageUploadDraft">
                {{ $t('Image Upload Draft') }}
              </label>
              
              <div class="ui action input">
                <input type="url" 
                       name="ImageUploadDraft" 
                       onfocus="this.select()"
                       id="ImageUploadDraft"
                       v-model="ImageUploadDraft"
                       v-on:change="persist"
                       placeholder="https://www.blogger.com/blog/post/edit/..." />
                <button class="ui button"
                        v-bind:class="{disabled: !isImageUploadDraftValid}"
                        v-on:click="openImageUploadDraft"
                        >{{ $t('OPEN') }}</button>
              </div>
            </div>
            
            <div class="field">
              <label for="PhotoRepository">
                {{ $t('Photo Repository') }}
              </label>
              
              <div class="ui action input">
                <input type="url" 
                       name="PhotoRepository" 
                       onfocus="this.select()"
                       id="PhotoRepository"
                       v-model="PhotoRepository"
                       v-on:change="persist"
                       placeholder="https://photos.google.com/?hl=zh-TW" />
                <button class="ui button"
                        v-bind:class="{disabled: !isPhotoRepositoryValid}"
                        v-on:click="openPhotoRepository"
                        >{{ $t('OPEN') }}</button>
              </div>
            </div>
            
          </div> <!-- data-tab="image" -->
          
          <!-- -------------------------------------- -->
          
          <div class="ui bottom attached tab segment form" 
             data-tab="toolbar">
            
            <div class="two fields">
              <div class="field">
                <label for="summerNoteConfigToolbar">
                  {{ $t('Toolbar') }}
                  (<a href="https://github.com/pulipulichen/Blogger-Editor/blob/master/help/SummerNoteConfigToolbar.md"
                      target="summerNoteConfigToolbarHelp">
                    {{ $t('HELP') }}
                  </a>)
                </label>
                <textarea id="summerNoteConfigToolbar"
                          v-model="summerNoteConfigToolbar"
                          class="summernote-config-toolbar"
                          v-bind:placeholder="toolbarJSON"
                          v-on:change="setChanged"></textarea>
              </div>
              <div class="field">
                <label for="summerNoteConfigStyleTags">
                  {{ $t('Style Tags') }}
                  (<a href="https://github.com/pulipulichen/Blogger-Editor/blob/master/help/SummerNoteConfigSrtyleTags.md"
                      target="summerNoteConfigStyleTagsHelp">
                    {{ $t('HELP') }}
                  </a>)
                </label>
                <textarea id="summerNoteConfigStyleTags"
                          v-model="summerNoteConfigStyleTags"
                          class="summernote-config-toolbar"
                          v-bind:placeholder="styleTagsJSON"
                          v-on:change="setChanged"></textarea>
              </div>
            </div>
          </div> <!-- data-tab="toolbar" -->
          
          <!-- -------------------------------------- -->
          
          <div class="ui bottom attached tab segment form" 
             data-tab="labels">
            
            <div class="field">
              <label for="summerNoteConfigLabelsSearch">
                {{ $t('Search Label') }}
              </label>
              <div class="ui search"
                   ref="summerNoteConfigLabelsSearch">
                <div class="ui icon input">
                  <input type="text"
                     id="summerNoteConfigLabelsSearch"
                     class="summernote-config-labels-search prompt"
                     placeholder="Search labels..." />
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            
            <div class="field">
              <label for="summerNoteConfigLabels">
                {{ $t('Labels') }}
                (<a href="https://github.com/pulipulichen/Blogger-Editor/blob/master/help/SummerNoteConfigLabels.md"
                    target="summerNoteConfigLabelsHelp">
                  {{ $t('HELP') }}
                </a>)
              </label>
              <textarea id="summerNoteConfigLabels"
                        v-model="summerNoteConfigLabels"
                        class="summernote-config-labels"
                        v-on:change="setLabelsChanged"></textarea>
            </div>
            
          </div> <!-- data-tab="labels" -->
          
          <!-- ===================================== -->
          
          <!--
          <div class="ui bottom attached tab segment form" 
             data-tab="config">
            
            
            <div class="two fields">
              <div class="field">
                <div class="ui labeled icon fluid button"
                   v-on:click="configDownload">
                  <i class="download icon"></i>
                  Download
                </div>
              </div>
              <div class="field">
                <input type="file" name="uploadStyle"
                     v-on:change="configUpload"/>
                <div class="ui labeled icon fluid button"
                   v-on:click="triggerConfigUpload">
                  <i class="upload icon"></i>
                  Upload
                </div>
              </div>
              
              <div class="dragover-message"
               @drop="configDrop">
                Drop file to upload
              </div>
            </div>
            
          </div> --> <!-- data-tab="config" -->

          
      </div>
    </div>
    <div class="actions">
      <div class="ui button"
           v-on:click="close">
        {{ $t('Cancel') }}
      </div>
      <div class="ui positive right labeled icon button" 
           v-on:click="persist();close()">
        {{ $t('OK') }}
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</div>