<div class="ui modal"
       :class="name"
       ref="modal">
    <i class="close icon" @click="close"></i>
    <div class="header">
      <i class="quote right icon"></i>
      {{ $t('Title') }}
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description ui form">

        <div class="field">
          <label>
            {{ $t('Ask for review') }}
          </label>
          <div class="ui fluid buttons">
            <template v-for="(part, i) in contentPartsReview">
              <a v-if="i === 0"
                href="https://chat.openai.com/chat" target="chatgptReview"
                @click.prevent.stop="copyReview(part, i)"
                :class="{positive: (copiedReview.indexOf(i) > -1)}"
                class="ui button">
                {{ $t('P') + (i+1) }}
              </a>
              <button v-else
                type="button" class="ui button"
                :class="{positive: (copiedReview.indexOf(i) > -1)}"
                @click.prevent.stop="copyReview(part, i)">
                {{ $t('P') + (i+1) }}
              </button>
            </template>
              
            <button type="button" class="ui button"
              :class="{positive: (copiedReview.indexOf('end') > -1)}"
              @click.prevent.stop="copyReview(promptEndReview, 'end')">
              {{ $t('End') }}
            </button>
          </div>
        </div>

        <div class="field">
          <label>
            {{ $t('Ask for abstract') }}
          </label>
          <div class="ui fluid buttons">
            <a href="https://chat.openai.com/chat" target="chatgpt"
              @click.prevent.stop="popupChatGPT"
              :class="{positive: (copied.indexOf('opening') > -1)}"
              class="ui button">
              {{ $t('Opening') }}
            </a>
            <button v-for="(part, i) in contentParts"
              type="button" class="ui button"
              :class="{positive: (copied.indexOf(i) > -1)}"
              @click.prevent.stop="copy(part, i)">
              {{ $t('P') + (i+1) }}
            </button>
            <button type="button" class="ui button"
              :class="{positive: (copied.indexOf('end') > -1)}"
              @click.prevent.stop="copy(promptEnd, 'end')">
              {{ $t('End') }}
            </button>
          </div>
        </div>

        <div class="field">
          <label>
            {{ $t('Abstract') }}
            <span v-if="abstractWordCount">
              ({{ abstractWordCount }} {{ $t('characters') }})
            </span>
          </label>
          <textarea name="abstract"
                    id="AbstractInserterTextarea"
                    v-model="abstract"></textarea>
        </div>

        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" v-model="insertLast"
              id="AbstractInserter.insertLast" />

            <label for="AbstractInserter.insertLast">
              {{ $t('Append to last paragraph') }}
            </label>
          </div>
            
        </div>
        
        <!-- ------------------- -->
        
        <!-- ------------------- -->
        
        <!--
        <div class="field" @click="toggleNl2br">
          <div class="ui checkbox">
            <input type="checkbox"
                   class="hidden" 
                   v-model="nl2br"
                   value="true">
            <label>{{ $t('Enable new line to &lt;br /&gt;') }}</label>
          </div>
        </div>
        -->

      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    <div class="actions">
      <div class="ui button"
           @click='close'>
        {{ $t('Close') }}
      </div>
      <div class="ui button"
           :class="enableInsert"
           @click='insert'>
        {{ $t('Insert') }}
      </div>
    </div>
  </div>