<div class="non-invasive-web-style-framework">
  <div class="ui modal ThemeManager">
    <i class="close icon" @click="close"></i>
    <div class="header">
      <i class="columns icon"></i>
      Theme Manager
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description">
        
        <div class="ui top attached tabular menu">
          <a class="item active" data-tab="template">Template</a>
          <a class="item" data-tab="style">Style</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="template">
          
          <div class="ui positive button" 
               v-if="useCustomTemplate === false"
               @click="uploadTemplate">
            UPLOAD
          </div>
          <div class="ui button" 
               v-if="useCustomTemplate"
               @click="resetTemplate">
            RESET
          </div>
          <div class="ui button"
               @click="openTemplateBuilder">
            Open Template Builder
          </div>
          
        </div>
        <div class="ui bottom attached tab segment" data-tab="style">
          
          Second
          
        </div>
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
  </div>
</div>