<div class="non-invasive-web-style-framework">
  <div class="ui modal ThemeManager" ref="modal">
    <i class="close icon" @click="close"></i>
    <div class="header">
      <i class="columns icon"></i>
      Theme Manager
    </div>
    <!-- ---------------------------------------- -->
    
    <div class="content">
      <div class="description">
        
        <div class="ui top attached tabular menu">
          <a class="item active" 
             data-tab="template"
             @click="openTab">
            Template
          </a>
          <a class="item" 
             data-tab="style"
             @click="openTab"
             >Style</a>
        </div>
        <div class="ui bottom attached tab segment active form" data-tab="template">
          
          <div class="fields">
            <div class="six wide field">
              <input type="file" name="uploadTemplate"
                     @change="TemplateManager.upload"/>
              <div class="ui positive labeled icon fluid button" 
                   v-if="useCustomTemplate === false"
                   @click="TemplateManager.triggerUpload">
                <i class="upload icon"></i>
                Upload
              </div>
              <div class="ui fluid labeled icon button" 
                   v-if="useCustomTemplate"
                   @click="TemplateManager.reset">
                <i class="undo icon"></i>
                Reset
              </div>
            </div>
            <div class="five wide field">
              <div class="ui fluid labeled icon button" 
                   @click="TemplateManager.open">
                <i class="folder open icon"></i>
                Open
              </div>
            </div>
            <div class="five wide field">
              <div class="ui fluid labeled icon button" 
                   @click="TemplateManager.download">
                <i class="download icon"></i>
                Download
              </div>
            </div>
          </div>
          
          <div class="field">
            <div class="ui fluid button"
               @click="openTemplateBuilder">
              <i class="cog icon"></i>
              Open Template Builder
            </div>
          </div>
          
        </div>
        
        <!-- ------------------------------------- -->
        
        <div class="ui bottom attached tab segment" data-tab="style">
          
          <div class="fields"></div>
          
        </div>
      </div> <!-- <div class="description"> -->
    </div> <!-- <div class="content"> -->
    <div class="actions">
      <div class="ui deny button"
           @click='close'>
        Close
      </div>
    </div>
  </div>
</div>