.ui.menu {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100vw;
  border-radius: 0;
}

.ui.top.menu.call-fixed {
  position: fixed;
  z-index: 600;
}

.menu.transition.visible {
  z-index: 999;
}