.ui.menu {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100vw;
  border-radius: 0;
  
  &> .item > i.icon {
    margin-bottom: -6px;
  }
}

.ui.menu > .item {
  margin-bottom: 0;
}

.ui.top.menu.call-fixed {
  position: fixed;
  z-index: 600;
}

.menu.transition.visible {
  z-index: 999;
}

.sub-menu-button {
  cursor: pointer;
}

.sub-menu-button > .menu {
  display: none;
}

.sub-menu-button > .menu {
  //display: block;
  z-index: 999;
}

.sub-menu-button.open-submenu > i.icon:before {
  content: "\f0d8";
}

// -----------------------------------------------

.ui.left.menu .item.word-count {
  text-align: center;
  font-size: 1rem;
}

/*
.ui.left.menu .item.word-count > span {
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: right;
}

.ui.left.menu .item.word-count > span sub {
  vertical-align: super;
  font-size: 1rem;
  top: 7px;
}
*/

.item.word-count {
  cursor: default !important;
}

.item.word-count:hover {
  background-color: #1B1C1D !important;
}

// --------------------------

@media (max-width: 1100px) {
  .topbar .image-count {
    display: none;
  }
}

// --------------------------

@media (max-width: 1150px) {
  .topbar .time-spent-display {
    display: none;
  }
}