.non-invasive-web-style-framework .ui[class*="left fixed"].menu {
  display: none;
  z-index: 605;
}

.dimmer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.87);
}