<div class="ui modal"
     v-bind:class="name"
     ref="modal">
  <i class="close icon" @click="close"></i>
  <div class="header">
    <i class="keyboard outline icon"></i>
    {{ $t('Config Manager') }}
    {{ $t('button') }}
  </div>
  <div class="content">
    <div class="ui form description">

      <div class="two stackable fields">
        <div class="field">
          <button type="button" 
                  class="backup ui labeled icon fluid button"
                  @click="configDownload">
            <i class="download icon"></i>
            Backup
          </button>
        </div>
        <div class="field">
          <input type="file" name="uploadStyle"
                 @change="configUpload"/>
          <button type="button"
                  class="ui labeled icon fluid button"
                  @click="triggerConfigUpload">
            <i class="upload icon"></i>
            Restore
          </button>
        </div>

        <div class="dragover-message"
             @drop="configDrop">
          Drop file to upload
        </div>
      </div>

    </div>
  </div>
  <div class="actions">
    <div class="ui button"
         @click='close'>
      Close
    </div>
  </div>
</div>