.ui.sidebar {
  //top: 2.85714286em !important;
  //max-height: calc(100% - 2.85714286em) !important;
  visibility: hidden !important;
}

.ui.sidebar.visible {
  visibility: visible !important;
  z-index: 601;
}

a.item.subheading {
  padding-left: 2.5rem !important;
}

a.item {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  
  &.go-to-top,
  &.go-to-footer {
    color: white !important;
    text-align: center;
    background-color: gray !important;
  }
}