<div class="ui right menu vertical sidebar uncover animating"
     v-bind:class="name"
     ref="modal">
  <a class="item go-to-top" 
     v-bind:title="$t('Go to Top')"
     v-on:click="scrollToTop()">
     {{ $t('Go to Top') }}
  </a>
  <template v-for="mainHeading in entryHierarchy">
    <a class="item" 
       v-bind:title="mainHeading.text"
       v-bind:class="{'null-header':(mainHeading.eq - 1)}"
       v-on:click="scrollTo(mainHeading.eq)">
      
       <span v-if="mainHeading.comments.length > 0"
             class="comments-count">
         {{ mainHeading.comments.length }}
       </span>
      
       <span class="heading-text">
         {{ mainHeading.text }}
       </span>
      
    </a>
    
      <template v-for="comment in mainHeading.comments">
        <a class="item comment"
           v-bind:title="getCommentTitleAttr(comment)"
           v-on:click="scrollTo(comment.eq)">
          {{ comment.text }}
          <span v-if="comment.title.length > 0"
                class="comment-title">
            {{ comment.title }}
          </span>
         </a>
      </template>
    
    <!-- ------------------------------------------------- -->
    
    <template v-for="subheading in mainHeading.subheading">
      <a class="item subheading"
         v-bind:title="subheading.text"
         v-on:click="scrollTo(subheading.eq)">
        
        
       <span v-if="subheading.comments.length > 0"
             class="comments-count">
         {{ subheading.comments.length }}
       </span>
        
        <span class="heading-text">
          {{ subheading.text }}
        </span> 
       
      </a>
      
      <template v-for="comment in subheading.comments">
        <a class="item comment"
           v-bind:title="getCommentTitleAttr(comment)"
           v-on:click="scrollTo(comment.eq)">
          {{ comment.text }}
          <span v-if="comment.title.length > 0"
                class="comment-title">
            {{ comment.title }}
          </span>
         </a>
      </template>
    </template>
  </template>
  <a class="item go-to-footer" 
     v-bind:title="$t('Go to Footer')"
     v-on:click="scrollToFooter()">
     {{ $t('Go to Footer') }}
  </a>
</div>