<div class="ui right menu vertical sidebar uncover animating"
     v-bind:class="name"
     ref="modal">
  <a class="item go-to-top" 
     :title="$t('Go to Top')"
     @click="scrollToTop()">
     {{ $t('Go to Top') }}
  </a>
  <template v-for="mainHeading in headings">
    <a class="item" 
       :title="mainHeading.text"
       @click="scrollTo(mainHeading.eq)">
      {{ mainHeading.text }}
    </a>
    <template v-for="subheading in mainHeading.subheading">
      <a class="item subheading"
         :title="subheading.text"
         @click="scrollTo(subheading.eq)">
       {{ subheading.text }}
     </a>
    </template>
  </template>
  <a class="item go-to-footer" 
     :title="$t('Go to Footer')"
     @click="scrollToFooter()">
     {{ $t('Go to Footer') }}
  </a>
</div>