.navbar.section,
.sidebar.section {
  display: none;
}

header,
footer {
  display: none;
}

h2.date-header,
.post-footer,
.blog-pager {
  display: none;
}

body {
  min-width:inherit;
  min-height: inherit;
}

.content-outer {
  min-width: inherit;
  max-width: inherit;
}