#template .navbar.section,
#template .sidebar.section {
  display: none;
}

#template header,
#template footer {
  display: none;
}

#template h2.date-header,
#template .post-footer,
#template .blog-pager {
  display: none;
}

#template body {
  min-width:inherit;
  min-height: inherit;
}

#template .content-outer {
  min-width: inherit;
  max-width: inherit;
}